@import "tailwindcss";

@theme {
  --color-primary: #10b981; /* Emerald 500 */
  --font-sans: "Inter", -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", source-code-pro, monospace;
}

body {
  background-color: #020617; /* Slate 950 */
  color: #f8fafc;
  font-family: var(--font-sans);
}
